<% @jobs.each do |job| %>
  <li>
    <div>
	<ul>
    	<li><span>Organization</span> <%= job.organization %></li>
    	<li><span>Location</span> <%= job.location %></li>
    	<li><span>Details</span> <%= job.details %></li>
    	<li><span>Start date</span> <%= job.start_date %></li>
    	<li><span>End date</span> <%= job.end_date %></li>
    	<li><%= link_to 'Show', job %></li>
		<% if admin? %>
    		<li><%= link_to 'Edit', edit_job_path(job) %></li>
   	 		<li><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></li>
		<% end %>
	</ul>
	</div>
  </li>
<% end %>