<% @jobs.inject(-1) do |cat, job| %>
<!-- When a job is encountered that has category that is different than the last, then print a title for the category -->
  <% if job.category_id != cat %>
  	<div>
  		<h2><%= Category.find(job.category_id).name %></h2>
	</div>
  <% end %>
  <div>
	  <article>
		  <h3><%= link_to job.title, job %></h3>
		  <ul>
			  <li><span>Organization</span> <%= job.organization %></li>
			  <li><span>Location</span> <%= job.location %></li>
			  <li><span>Start date</span> <%= job.start_date %></li>
			  <li><span>End date</span> <%= job.end_date %></li>
		  </ul>
		  
		  <p><span>Details</span> <%= job.details %></p>
		  <ul>
			  <li><%= link_to 'Show', job %></li>
			  <% if admin? %>
				<li><%= link_to 'Edit', edit_job_path(job) %></li>
				<li><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></li>
			  <% end %>
			</ul>
		</article>
  </div>
  
  <!-- the current category is returned to be cat in the next iteration -->
  <% job.category_id %>
<% end %>