<h1>Listing jobs</h1>

<div>
	<ul>
		<% Category.all.each do |category| %>
		<li><%= link_to category.name, { :controller => "jobs", :category_id => "#{category.id}" }, :class => "category_link", remote: true %></li>
		<% end %>
	</ul>
</div>

<table>
  <thead>
    <tr>
      <th>Organization</th>
      <th>Location</th>
      <th>Details</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="jobs_table">
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.organization %></td>
        <td><%= job.location %></td>
        <td><%= job.details %></td>
        <td><%= job.start_date %></td>
        <td><%= job.end_date %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
