<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
  <%= @job.organization %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Details:</strong>
  <%= @job.details %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @job.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @job.end_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= Category.find(@job.category_id).name %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
