<!DOCTYPE html>
<html>
<head>
  <title>TechPortfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<ul>
		<% if admin? %>
			<li><%= link_to "logout", logout_path %></li>
		<% else %>
			<li><%= link_to "login", login_path %></li>
		<% end %>
	</ul>
</div>
<div>
	<p class="error"><%= flash[:error] %></p>
	<p class="notice"><%= flash[:notice] %></p>
</div>
<%= yield %>

</body>
</html>
